doctype html
html
  include ./header.pug
  script.
    function back(){
      history.back();
    }
    function idCheck(){
      var id = document.getElementById("id").value;
      if(id == null || id == ""){
        alert("ユーザーIDを入力してください。");
        return false;
      }
      if(id.match(/[^A-Za-z0-9]+/)){
        alert("ユーザーIDは半角英数字で入力してください。");
        return false;
      }
      var frm = document.getElementById("frm");
      frm.action = "idCheck";
      frm.submit();      
    }
    function check(){
      var id = document.getElementById("id").value;
      var pass = document.getElementById("pass").value;
      var passCheck = document.getElementById("passCheck").value;
      var name = document.getElementById("name").value;
      var kana = document.getElementById("kana").value;
      var birth = document.getElementById("birth").value;
      var club = document.getElementById("club").value;
      
      if(id == null || id == ""){
        alert("ユーザーIDを入力してください。");
        return false;
      }
      if(id.match(/[^A-Za-z0-9]+/)){
        alert("ユーザーIDは半角英数字で入力してください。");
        return false;
      }
      if(pass == null || pass == ""){
        alert("パスワードを入力してください。");
        return false;
      }
      if(pass.match(/[^A-Za-z0-9]+/)){
        alert("パスワードは半角英数字で入力してください。");
        return false;
      }
      if(passCheck == null || passCheck == ""){
        alert("パスワード再入力を入力してください。");
        return false;
      }
      if(passCheck.match(/[^A-Za-z0-9]+/)){
        alert("パスワード再入力は半角英数字で入力してください。");
        return false;
      }
      if(pass != passCheck){
        alert("パスワードとパスワード再入力は同じものを入力してください。");
        return false;
      }
      if(name == null || name == ""){
        alert("名前を入力してください。");
        return false;
      }
      if(!name.match(/[^A-Za-z0-9]+/) && name != ""){
        alert("名前は全角で入力してください。");
        return false;
      }
      if(kana == null || kana == ""){
        alert("カナを入力してください。");
        return false;
      }
      if(kana.match(/[^A-Za-z0-9]+/)){
        alert("カナは半角で入力してください。");
        return false;
      }
      if(birth == null || birth == ""){
        alert("生年月日を選択してください。");
        return false;
      }
      if(!birth.match(/^\d{4}\/\d{1,2}\/\d{1,2}$/)){
        alert("yyyy/mm/dd様式で入力ください。");
        return false;
      } 
      if(club == null || club == ""){
        alert("委員会を入力してください。");
        return false;
      }
      if(!club.match(/[^A-Za-z0-9]+/) && club != ""){
        alert("委員会は全角で入力してください。");
        return false;
      }
      
      var frm = document.getElementById("frm");
      frm.submit();
    }
  body
    h1 新規登録入力
    form(action="joinCheck" method="post" id="frm")
      table
        tr
          th ID
          td
            input(type="text" name="id" id="id" value=id)
        tr
          th 
            button(type="button" onclick="idCheck()") 使用できるか確認 
          td(style="color:red;") #{result} 
        tr
          th パスワード
          td
            input(type="text" name="pass" id="pass")
        tr
          th パスワード再入力
          td
            input(type="text" name="passCheck" id="passCheck")
        tr
          th 名前
          td 
            input(type="text" name="name" value=name id="name")
        tr
          th カナ
          td
            input(type="text" name="kana" value=kana id="kana")
        tr
          th 生年月日(yyyy/mm/dd)
          td
            input(type="text" name="birth" value=birth id="birth")
        tr
          th 委員会
          td
            input(type="text" name="club" value=club id="club")
      button(type="button" onclick="check()") 登録します
      button(type="button" onclick="back()") 戻る