doctype html
html
  include ./header.pug
  script.
    function back(){
      history.back();
    }
    function check(){
      var flag = confirm("以下の情報で会員登録しますか？");
      　if(flag){
        document.getElementById("frm").submit();
      }          
    }
  body
    h1 新規登録確認
    form(action="join" method="post" id="frm")
      table
        tr
          th ID
          td
            input(type="text" name="id" readonly="readonly" value=id)
        tr
          th パスワード
          td
            input(type="text" name="pass" readonly="readonly" value=pass)
        tr
          th 名前
          td
            input(type="text" name="name" readonly="readonly" value=name)
        tr
          th カナ
          td
            input(type="text" name="kana" readonly="readonly" value=kana)
        tr
          th 生年月日
          td
            input(type="text" name="birth" readonly="readonly" value=birth)
        tr
          th 委員会
          td
            input(type="text" name="club" readonly="readonly" value=club)
      button(type="button" onclick="check()") 登録します
      button(type="button" onclick="back()") 戻る