doctype html
html
  include ./header.pug
  script.
    function check(){
      var id = document.getElementById("id").value;
      var name = document.getElementById("name").value;
      var kana = document.getElementById("kana").value;
      
      if(id == "" && name == "" && kana == ""){
        alert("どれかひとつの項目は入力してください。");
        return false;
      }
      if(id.match(/[^A-Za-z0-9]+/)){
        alert("ユーザーIDは半角英数字で入力してください。");
        return false;
      }
      if(!name.match(/[^A-Za-z0-9]+/) && name != ""){
        alert("名前は全角で入力してください。");
        return false;
      }
      if(kana.match(/[^A-Za-z0-9]+/)){
        alert("カナは半角で入力してください。");
        return false;
      }
          
      document.getElementById("frm").submit();
    }
  body
    h1 検索画面
    form(action="search" method="post" id="frm")
      table(border="1")
        tr
          th ID
          td
            input(type="text" name="id" id="id" value=id)
        tr
          th name
          td
            input(type="text" name="name" id="name" value=name)
        tr
          th kana
          td
            input(type="text" name="kana" id="kana" value=kana)
      button(type="button" onclick="check()") 検索
      a(href="join")
        button(type="button") 新規登録
      a(href="logout")
        button(type="button") ログアウト
    br
    table(border="1")
      tr
        th ID
        th 名前
        th カナ
        th 生年月日
        th 委員会
        th 操作
      - for(var i=0; i<result.rows.length; i++){
      tr
        td #{result.rows[i][0]}
        td #{result.rows[i][1]}
        td #{result.rows[i][2]}
        - var yyyy = result.rows[i][3].getFullYear().toString();
        - var mm = (result.rows[i][3].getMonth()+1).toString();
        - var dd  = result.rows[i][3].getDate().toString();
        td #{yyyy}/#{mm}/#{dd}
        td #{result.rows[i][4]}
        td
          a(href="update?id=" + result.rows[i][0])
            button(type="button") 更新
          a(href="delete?id=" + result.rows[i][0])
            button(type="button") 削除
      - }